.git
.gitignore
.gitmodules
**/.git/
**/.gitignore

Dockerfile
.dockerignore
docker-compose*.yml

node_modules
**/node_modules/

**/.vscode

**/README.md
**/LICENSE

**/dist
**/build
**/out

**/.env
**/config/secrets.yml
**/*.pem
**/*.key

**/logs/
**/*.log
**/*.cache
**/*.pid
**/tmp/

**/coverage
**/test
**/__tests__
**/drizzle.config.ts