@import url('./reset.css');
@import url('./pico.violet.min.css');

:root {
  --sp-00: 0.5rem;
  --sp-0: 1rem;
  --sp-1: 1.5rem;
  --sp-2: 2rem;
  --sp-3: 3rem;
  --sp-4: 4rem;
  --sp-5: 5rem;
  --c-danger: #dc3545;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  interpolate-size: allow-keywords;
}

button {
  padding: 0.375rem;
}

section {
  margin: 0;
}
